<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "bootstrap.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/chessboard.css' %}">
    <script src="{% static 'js/chessboard.js' %}" defer></script>
    <title>history</title>
</head>
<body>
    {%include "navigation.html"%}
    <hr>

    <p>A strategic game of chess is played by two players on a checkered board with 64 squares arranged in an 8 by 8 grid. A king, a queen, two rooks, two bishops, two knights, and eight pawns are among the sixteen pieces that each player, referred to as "White" or "Black," is in charge of. White always initiates the move, and the object of the game is to strategically move the pieces in order to capture the opponent's king. Chess does not involve any aspects of luck or hidden knowledge; it is solely dependent on strategy.</p>
    <p>The game of chess has its roots in chaturanga, a comparable game that first appeared in India in the seventh century. Later, the game made its way to Europe and Persia in the Arab world. By the late 19th century, chess rules had been universally accepted, having first emerged in Europe at the end of the 15th century. FIDE (Fédération Internationale des Échecs), the international chess governing organization, oversees competitive play, which is played by millions of people worldwide today.</p>
    <hr>
</body>
</html>